/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
.ui-page {
	background-color: white;
}

#container {
	width: 100%;
	margin: auto;
}

footer ul#menu {
	list-style: none;
	width: 100%;
	overflow: auto;
	padding: 0;
	margin:0;

}
footer ul#menu > li.tab-button {
	display: block;
	width: 49.9%;
	padding: 10px 0;
	float: left;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	background:#fff;
}
footer ul#menu > li.tab-button.active {
	font-weight: bold;
	cursor: default;
	border-top: 2px solid rgb(42, 42, 131);
}


#tab-content {
	width: 98%;
	margin: auto;	
}

#search {
	margin-bottom: 10px;
}

	#search input,
	#search button {
		border-radius: 0;
	}


/* TJ WAS HERE */
body {
	font-family: 'Montserrat', sans-serif;
}
body .ui-page {
	padding-top:10px;
	padding-bottom:35px;
}
footer {
	position: fixed;
	bottom:0;
	width:100%;

}
.project {
	margin-bottom:20px;
	padding: 10px;
	background:#fff;
	font-family:"Open Sans", Helvetica, Arial;
}
.project span.project-name {
	font-size: 1.2em;
	font-weight:bold;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom: 1px solid #ddd;
	width:100%;
	display:block;
}

.project > .project-description-wrapper {
	margin-top: 5px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #F0F3F3;
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}

.form-control {
    border: 2px solid #e8ebed;
    border-radius: 2px;
    box-shadow: none;
    padding: 18px 12px;
}
.form-control:focus {
    background: #fff;
    border-color: #556b8d;
    box-shadow: none;
}
.btn {
    border: none;
    font-size: 15px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 14px;
    margin-bottom: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.btn-default, a.btn-default:link, a.btn-default:visited {
				      color: #fff;
				      background-color: #556b8d;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #5f779d;
    border-color: #5f779d;

}
.btn:hover, .btn:focus {
		outline: none;
}
